.logo-container {
  background: var(--ion-color-dark);
  transition: background 0.5s ease-in-out;

  &.launching {
    background: white;
  }
}

.logo {
  border-radius: 16px;
  box-shadow: rgb(0, 0, 0, 1) 0px 4px 64px;
  // margin-bottom: 150px;
  max-height: 150px;
  opacity: 1;

  transition:
    opacity 0.45s ease-in-out,
    max-height 0.45s ease-in-out,
    max-width 0.45s ease-in-out;

  &.huge {
    opacity: 0;
    max-height: 1000px;
    max-width: 1000px;
  }

  &.launching {
    opacity: 0;
    height: 1000px;
    max-height: 1000px;
    max-width: 1000px;
  }
}